<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.css') }}">
    <script src="{{ url_for('static', filename='assets/js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bs/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/index.js') }}"></script>
</head>
<body>
<div class="container">
    <main>
    <!-- Error message block -->
            <div class="text-center">
                <div style="color: red; margin: 5px">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <b>{{ message }}</b>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            </div>
        <div class="container">
        <div class="text-center">
            <h2 class="text-center">Products</h2>
            <a href="/add-new-product" class="btn btn-primary">Click here to add product</a>
        </div>
            <div class="row">
                {% for product in products %}
                    <div class="col-4">
                        <img src="/uploads/{{ product.image }}" style="width: 140px">
                        <p>{{ product.title }}<br/>
                            <b>{{ product.price }}</b>
                        </p>
                        <button class="btn btn-primary">Buy Now</button>
                        {% if user %}
                            <a class="btn btn-secondary" href="/edit/{{ product.id }}">Edit</a>
                            <a href="/delete/{{ product.id }}" class="btn btn-danger">Delete</a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>

</div>
</body>
</html>