<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.css') }}">
    <script src="{{ url_for('static', filename='assets/js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bs/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/index.js') }}"></script>
</head>
<body>
<div class="container">
    <a href="/sign-up">Click here to register</a>

    <h1>Welcome Home {{ name }}</h1>
<p>This is the home template for your email {{ email }}</p>
<a href="/about">Click here for about page</a> <br/>
<a href="/products">Click here for product page</a> <br/>
    <img src="{{ url_for('static', filename='assets/img/qr-code.svg') }}" style="width: 200px; margin: 10px">
    <img src="{{ url_for('static', filename='assets/img/babatee.webp') }}" style="width: 200px; margin: 40px">
<button class="btn btn-primary" onclick="clicked()">Click Here</button>
</div>
</body>
</html>